.meal img{
   width: 200px;
   height: 200px;
   border-radius: 10px;
   padding-left: 10px;
}
.meal{
  height: 450px;
  border: 1px solid grey;
  margin: 15px;
  position: relative;
}
.meal h4 h3 h2{
   padding-left: 15px;
}
.button{
    background-color: #681604;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-weight: bold;
}